@{
    ViewBag.Title = "Home";
}

 @model List<MyBlog.Models.Post>

<div class="jumbotron">
    <h1>My Blog</h1>
</div>
<section class="row">
    @foreach (var post in Model)
    {
        <article class="post col-md-4">
            <h2 class="title"><a href="/Posts/Details/@post.Id">@MyBlog.Classes.Utils.CutText(post.Title, 20)</a></h2>
            <div class="about">
                Posted on <i>@post.Date</i>
                @if (post.Author != null)
                {
                    @:by
                    <i>@post.Author.FullName (@post.Author.UserName)</i>
                }
            </div>
            <div class="body">
                @Html.Raw(MyBlog.Classes.Utils.CutText(post.Body,100))
                @if (post.Body.Length >= 50)
                {
                    <a href="/Posts/Details/@post.Id">Read more..</a>
                }
            </div>
        </article>
    }
</section>

