@model MyBlog.Models.Post
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            <textarea class="form-control text-box multi-line valid" disabled="disabled" rows="20" style="width: 100%">@Model.Body</textarea>
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrators")||(Model.Author != null && User.Identity.Name == Model.Author.UserName))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    }
    
    @Html.ActionLink("Back to List", "Index")
</p>
